[Unit]
Description=Odoo 17 Production
Documentation=https://www.odoo.com/documentation/17.0
After=network.target postgresql.service

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/opt/odoo/odoo-venv/bin/python3 /opt/odoo/odoo17/odoo-bin -c /opt/odoo/odoo.conf
WorkingDirectory=/opt/odoo
StandardOutput=journal+console
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
