---
layout: default
---

<div class="post-wrapper">
    <aside id="toc-sidebar">
        <div class="toc-container">
            <h3>In This Guide</h3>
            <nav id="toc"></nav> </div>
    </aside>

    <article class="post-content-main">
      <header>
        <h1>{{ page.title }}</h1>
        <p class="post-meta">
            <span>{{ page.date | date: "%-d %B %Y" }}</span> • 
            <span>by {{ page.author | default: site.author }}</span>
        </p>
      </header>
      
      {{ content }}

      {% if page.tags %}
        <footer>
            <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
        </footer>
      {% endif %}
    </article>
</div>